*, *::before, *::after {
  box-sizing:border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    height: 100%;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .bg-white {
    background-color: white;
  }

  .p-0 {
    padding: 0 !important;
  }

  .m-2percentage {
    margin: 2% !important;
  }

  .border-none {
    border: none !important;
  }

  .ipad-none {
    display: none !important;
  }


  @media (max-width: 414px) {
    .ipad-none {
      display: inline-block !important;
    }
    .iphone-none {
      display: none !important;
    }  
  }