/* header */
.header {
  border-bottom: 1px solid #cacaca;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
}

.header .logo {
  width: 250px;
}

.headshot {
  display: none;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.header-list img {
  width: 30px;
}

.header-list span {
  padding-left: 15px;
  color: gray;
}

/* menu */
.menu {
  display: flex;
}

.menu-box {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.menu-list {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 10% 0;
}

.menu li {
  align-items: center;
  display: flex;
  margin-right: 15px;
}

.menu-list span {
  color: gray;
  margin: 0 10px;
  white-space: nowrap;
}

.menu-list:hover {
  opacity: .6;
}

.menu-list img {
  width: 30px;
  display: block;
}


::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.search {
  position: relative;
  display: inline-block;
}

.search::before {
  content: '\f002';
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  font-size: 21px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 50%;
  color: #8b8b8b;
  transform: translateY(-50%);
}

.search input[type="input"] {
  width: 200px;
  text-indent: 36px;
  padding: 10px 0 8px 0;
  background-color: whitesmoke;
  border: 1px solid #dbdbdb;
}

/* menu */
.content-box {
  display: flex;
  margin: 50px auto 0 auto;
}

.content-left {
  width: 10%;
}

.content-left img {
  width: 100px;
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
}

.content-list a {
  display: block;
}

.content-right .name {
  font-size: 26px;
  display: inline-block;
  padding: 0 15px 0 0;
  letter-spacing: 5px;
  color: #004d83;
}

.content-right .company {
  letter-spacing: 5px;
  color: #004d83;
  display: inline-block;
}

.content-right {
  width: 90%;
}

.logout {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background-color: #004d83;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 14px;
}

.logout:hover {
  opacity: .7;
}

.content-list-footer {
  display: flex;
}

.content-list-footer li {
  width: 20%;
}

.content-list-footer h3 {
  color: gray;
  margin: 15px 0;
  letter-spacing: 2px;
}

.content-list-footer p {
  letter-spacing: 3px;
  color: gray;
}

/* 漢堡選單 */
.hamburger-list {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  position: fixed;
  top: 40px;
  right: 20px;
  width: 36px;
  height: 26px;
  cursor: pointer;
  z-index: 99;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: flex;
  padding: 30px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  align-items: center;
}

.menu__item img {
  width: 30px;
  margin-right: 15px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* 斷點設置 */
@media (max-width: 1600px) {
  .container {
    max-width: 1400px;
    padding: 1% 2%;
  }
  .search input[type="input"] {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .content-left {
    width: 15%;
  }
}

@media (max-width: 992px) {
  .header-list {
    display: none;
  }
  .menu-box {
    display: none;
}
  .hamburger-list {
    display: block;
  }
  .content-list a  {
    display: none;
  }
  .logout  {
    margin: 50px 0 0 15px
  }
}

@media (max-width: 767px) {
  .header .logo {
    width: 200px;
  }
  .headshot {
    display: block;
    padding: 30px 24px;
  }
  .headshot img{
    width: 70px;
    display: block;
    margin: 0 auto;
  }
  .content-left {
    display: none;
  }
  .content-right {
    width: 100%;
  }
  .content-list .logout {
    display: none;
  }
  .content-list-footer li {
    width: 25%;
  }
  .content-list-footer p {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .menu__btn {
    top: 25px;
    width: 26px;
  }
  .menu__box {
    width: 250px;
    padding: 20px 0 80px 0;
  }
  .menu__item {
    padding: 15px;
  }
  .menu__item span {
    font-size: 16px;
  }
}