@import '../../css/all.css';

.table-setting {
    border: solid #bebebe 1px;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    margin: 2% 10% 2% 10%;
}

.table-box {
    width: 100%;
    background-color: white;
}

.table-header {
    display: flex;
    background-color: #036EB8;
    color: white;
    letter-spacing: 2px; 
}

.table-header td {
    padding: .5% 0%;
    width: 20%;
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
}

.table-box tr {
    display: flex;
}

.table-box td:last-child {
    border-right: none;
}

.data-table td {
    padding: .2% 0%;
    margin: .5% 0;
    border-right: 1px solid gray;
    width: 20%;
    color: gray;
    letter-spacing: 2px;
    text-align: center;
}

.data-table a {
    text-decoration: none;
    color: gray;
}