@import '../../css/all.css';

/* 表格 + 表頭設定 */
.table-setting {
    border: solid #bebebe 1px;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    height: 500px;
    margin: 2% 0%;
}

.table-box {
    width: 135%;
    background-color: white;
}

.table-header {
    display: flex;
    background-color: #036EB8;
    color: white;
    letter-spacing: 2px; 
}

.table-header td {
    padding: .5% 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    width: 14.5%;
}

thead {
    position: sticky;
    top: 0;
}

.table-box tr {
    display: flex;
}

.table-box td:last-child {
    border-right: none;
}

/* 表格寬度 */
.data-table td {
    margin: .6% 0;
    border-right: 1px solid #c8c8c8;
    width: 15%;
    color: gray;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tbody {
    border-bottom: 1px solid #c8c8c8
}

.data-table .data-state {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.data-date {
    text-align: center;
}

.data-state span {
    color: rgb(243, 78, 78);
}

.data-table a {
    text-decoration: none;
    color: gray;
}

@media (max-width: 992px) {
    thead {
        position: static;
    }
    .date-item {
        margin: 30px 0;
    }
    .table-box {
        width: 220%;
    }
}

@media (max-width: 767px) {
    .date-item {
        flex-wrap: wrap;
    }
    .date-item ul:nth-child(2) {
        margin-right: 0px;
    }
    .date-start, .date-start-calendar {
        margin-bottom: 15px;
    }
    .data-table td, .table-header td {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .toggle-calendar-start, .toggle-calendar-start-end, .date-item ul:nth-child(2), .date-item ul:nth-child(4) {
        padding: 5px;
    }
}